version: '3'

services:
  db:
    build: ./postgresql
    container_name: boot
    ports:
      - 5439:5432
  queues:
    build: .  /elasticmq
    container_name: elasticmq
    ports:
      - 9324:9324
      - 9325:9325
    volumes:
      - ./elasticmq/config/custom.conf:/opt/elasticmq.conf
